@import 'root';

body
{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .main
    {
        width: 90vw;
        height: 90vh;
        margin: 1vh auto;
        @extend .grid-2;

        div.pre
        {
            background-image: url("../img/health.jpg");
            background-position: center center;
            background-size: cover;
            height: 100%;
            img
            {
                width: 20%;
                margin: 1%;
                // z-index: 9;
            }

            .overlay
            {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .25);
                backdrop-filter: blur(2px);
                z-index: 2;
                @extend .flex-column;

                h1
                {
                    color: white;
                    font-size: 3rem;
                    width: 80%;
                    text-align: center;

                }

                a
                {
                    padding: 20px 30px;
                }
            }

        }


        div.form
        {
            padding: 5%;
            @extend .flex-column, .y-start, .x-start;
            height: 100%;
            border-radius: 10px;

            h1
            {
                font-size: 1.3rem;
                width: 95%;
                margin: 10px;
                text-transform: none;
                @extend .txt-primary;
            }


            form
            {
                @extend .flex-column, .y-start, .x-start;
                height: 90%;
                width: 100%;
                padding: 1%;

                label
                {
                    color: lighten($primary-color, 15);
                    margin-left: 10px;
                    margin-bottom: 10px;
                }


                input, select
                {
                    outline: 0;
                    height: 60px;
                    margin: 10px;
                    width: 100%;
                    border-color: transparent;
                    border-radius: 10px;
                    background-color: darken($white, 4);
                    padding: 5px 15px;
                    text-transform: none;
                    font-size: 13px;
                    max-height: 50px;

                    &::placeholder
                    {
                        font-size: 13px;
                        opacity: .9;
                    }

                }
                button
                {
                    @extend .btn-primary;
                    width: 100%;
                }
            }
        }
    }

    .section
    {
        width: 80vw;
        height: 80vh;
        margin: 14vh auto;
        border-radius: 10px;
        @extend  .grid-2;


        div.pre
        {
            background-image: url("../img/meds.jpg");
            border-radius: 10px;

            background-position: center center;
            background-size: cover;
            height: 100%;
            img
            {
                width: 20%;
                margin: 1%;
                // z-index: 9;
            }

            .overlay
            {
                border-radius: 10px ;

                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .25);
                backdrop-filter: blur(2px);
                z-index: 2;
                @extend .flex-column;

                h1
                {
                    color: white;
                    font-size: 3rem;
                    width: 80%;
                    text-align: center;

                }

                a
                {
                    padding: 20px 30px;
                }
            }

        }


        div.form
        {
            border-radius: 10px;
            padding: 5%;
            @extend .flex-column, .x-start;
            height: 100%;

            h1
            {
                font-size: 1.3rem;
                width: 95%;
                margin: 10px;
                text-transform: none;
                @extend .txt-primary;
            }


            form
            {
                @extend .flex-column, .x-start;
                height: 90%;
                width: 100%;
                padding: 1%;

                label
                {
                    color: lighten($primary-color, 15);
                    margin-left: 10px;
                    margin-bottom: 10px;
                }


                input, select
                {
                    outline: 0;
                    height: 45px;
                    margin-left: 5px;
                    margin-bottom: 30px;
                    width: 100%;
                    border-color: transparent;
                    border-radius: 10px;
                    background-color: darken($white, 4);
                    padding: 5px 15px;
                    text-transform: none;
                    font-size: 13px;
                    max-height: 50px;

                    &::placeholder
                    {
                        font-size: 13px;
                        opacity: .9;
                    }

                }
                button
                {
                    height: calc(100% / 10);
                    margin: calc(100% / 150);
                    width: 100%;
                }
            }
        }
    }
}